@charset "UTF-8";
@import url(../style.css);
body{
    margin: 0;
    padding: auto;
}

.container{
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: auto;
    width: auto;
}

.pergunta > .enunciado{
    text-align: justify;
}

.resposta{
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.2rem;
}

.resposta p{
    margin: 5vh;
}