@charset "UTF-8";
@import url(../style.css);
body{
    margin: 0;
    padding: auto;
}

.container{
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.pergunta{
    text-align: justify;
    font-size: 1.9rem;
    font-weight: 200;
    line-height: 2rem;
}

.pergunta p{
    text-align: center;
}

.respostas{
    font-size: 1.5rem;
    margin: 20px;
    margin-bottom: -25px;
    text-align: center;
    line-height: 2rem;
}

.respostas p{
    cursor: pointer;
    transition: 1s;
    margin: 5vh;
}

.respostas p:hover{
    transform: scale(1.15);
}

