@charset "UTF-8";
@import url(../style.css);

.organela {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
}

ol#lista__ordem_organela > li {
     font-size: 1.3rem;
     list-style: decimal;
     margin: 0.9rem;
     color: var(--cor_primaria);
}

area {
     cursor: pointer;
}

@media screen and (orientation: portrait) {
     .organela {
          justify-content: center;
          gap: 5px;
     }

     ol#lista__ordem_organela {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          padding: 0 1rem;
     }

     ol#lista__ordem_organela > li {
          text-align: center;
     }
}