@charset "UTF-8";
@import url(../style.css);

a {
     text-decoration: none;
}

.organela,
.resposta_correta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

ol#lista__ordem_organela > li,
ol#lista__resposta > li {
    font-size: 1.3rem;
    list-style: decimal;
    margin: 0.9rem;
    color: var(--cor_primaria);
}

ol#lista__resposta > li {
    color: #000;
    text-transform: uppercase;
}

area {
    cursor: pointer;
}

#organela_atual {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--cor_primaria_hover);
}

@media screen and (orientation: portrait) {
    .organela {
        justify-content: center;
        gap: 5px;
    }

    ol#lista__ordem_organela,
    ol#lista__resposta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0 1rem;
    }

    ol#lista__ordem_organela > li,
    ol#lista__resposta > li {
        text-align: center;
    }
}
