@charset "UTF-8";
@import url(../style.css);

body{
    margin: 0;
    padding: auto;
}

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.pergunta{
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.3rem;
}

.pergunta p{
    text-align: center;
}

.respostas{
    font-size: 1.5rem;
    margin: 20px;
    line-height: 2rem;
    list-style: lower-alpha;
}

.respostas li{
    cursor: pointer;
    transition: 300ms;
    margin: 5vh;
}

.respostas li:hover{
    transform: scale(1.10);
}

.escolhida {
    color: var(--cor_primaria);
}

@media screen and (orientation: portrait) {
    .pergunta {
        text-align: center;
    }
}