@charset "UTF-8";
@import url(../style.css);

:root {
    --cor_acertou_escura: #097409;
    --cor_acertou_clara: #cff2cf;
    --cor_intermediario_escura: #be940b;
    --cor_intermediario_clara: #f1ecd1;
    --cor_errou_escura: #880909;
    --cor_errou_clara: #ebc6c6;
}

.enunciado {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.2rem;
}

.conteudo {
    gap: 3rem;
}

.aviso_resposta {
    padding: 1.2rem 1rem;
    font-size: 1.3rem;
    border: 2px solid #000;
    border-radius: 8px;
    line-height: 2rem;
}

.acertou {
    background-color: var(--cor_acertou_clara);
    color: var(--cor_acertou_escura);
    border-color: var(--cor_acertou_escura);
}

.intermediario {
    background-color: var(--cor_intermediario_clara);
    color: var(--cor_intermediario_escura);
    border-color: var(--cor_intermediario_escura);
}

.errou {
    background-color: var(--cor_errou_clara);
    color: var(--cor_errou_escura);
    border-color: var(--cor_errou_escura);
}
