@charset "UTF-8";
@import url(./reset.css);
@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css);

:root {
    --cor_primaria: #144fb3;
    --cor_secundaria: #e0f2fd;

    --cor_primaria_hover: #286adb;
    --cor_secundaria_hover: #acd9f6;

    --fonte_principal: 'Roboto', sans-serif;
}

* {
    font-family: var(--fonte_principal);
}

.portrait {
    display: none;
}

.conteudo {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.invisivel {
    display: none;
}

@media screen and (orientation: portrait) {
    .nao_portrait {
        display: none;
    }

    .portrait {
        display: block;
    }

    .conteudo {
        padding: 3rem 2rem;
        gap: 8rem;
    }
}
